.page {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: rgb(0, 0, 125);
  background: linear-gradient(
    180deg,
    rgb(0, 0, 135) 25%,
    rgba(255, 150, 0, 1) 100%,
    rgba(150, 0, 255, 1) 100%
  );
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
