.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  color: white;
  font-family: "Gyparodyhv", Arial, sans-serif;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  gap: 20px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__link {
  text-decoration: none;
  color: white;
}

.header__logo {
  padding-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__short-text {
  display: none;
}

.header__date {
  font-family: "Gyparodyhv", Arial, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

.header__avatar {
  max-width: 40px;
  max-height: 40px;
}

.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  font-family: "Gyparodyhv", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: black;
  border-radius: 40px;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__register {
  font-family: "Gyparodyhv", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.header__login {
  font-family: "Gyparodyrg", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .header {
    flex-wrap: wrap;
    font-size: 84px;
  }

  .header__full-text {
    display: none;
  }

  .header__short-text {
    display: flex;
  }

  .header__date {
    font-size: 20px;
  }
}
